/1610966860620 (1).pdf
/1610966860620.pdf
/Anaconda3-2021.05-Windows-x86_64.exe
/Android Studio.lnk
/askerlik
/chinook.zip
/DB.Browser.for.SQLite-3.12.2-win64.msi
/dbExceperiment.py
/Dekont (1).pdf
/Dekont.pdf
/dema.py
/demoRecap4.py
/desktop.ini
/dosyaOperasyon.py
/Figma.lnk
/gdx-setup_latest.jar
/Git-2.33.1-64-bit.exe
/group by.py
/halil ibrahim koçak_tr.pdf
/Halil İbrahim KOÇAK.pdf
/hllbr modes.txt
/hllbr.xlsx
/hllbr58
/hllbr_CV_TR_Final_v2.pdf
/hllbr_CV_TR_Final_v3.pdf
/ideaIC-2021.2.3.exe
/import json.py
/KYK-ODEME
/masaüstü yayıncılık
/Microsoft.Office.2019.Pro.Plus.Turkce.Final.32-64.Bit
/musteriler.txt
/node-v14.18.1-x64.msi
/Opera tarayıcı.lnk
/PyCharm Community Edition 2020.2.1.lnk
/Riot Client.lnk
/SenpAI Setup.exe
/sqlitedema.py
/sssss
/studio64.exe - Kısayol.lnk
/Taramalar
/Telegram.lnk
/temizlik
/tr_office_professional_plus_2019_x86_x64_dvd_52400318
/tr_office_professional_plus_2019_x86_x64_dvd_52400318.iso
/users.json
/veri tabanı
/Visual Studio Code.lnk
/WhatsApp.lnk
/WhatsAppSetup.exe
/Yeni klasör
/Yeni klasör (2)
/yeni sözleşme
/Zoom.lnk
/~$lil İbrahim KOÇAK.pdf